form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 500px;
  background: $primary-color;
  color: black;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 5px black;

  input, button {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: 0.3s;

    &:focus {
      background: grey;
      color: white;

      &::placeholder {
        color: white;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  input::placeholder {
    color: black;
    opacity: 0.5;
  }

  button:hover {
    background: #323232;
  }
  
  .userNotFound {
    background: crimson;
    color: white;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
  }

  .success {
    font-weight: bold;
    letter-spacing: 2px;
    background: transparent;
    color: black;
  }

  .link {
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
