.iframe-wrapper {
  opacity: 0;
}


.songs-grid {
  width: 90%;
  max-width: 1444px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: auto;
  padding: 50px 0;
  transition: 0.3s;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
  
}

.song-card {
  position: relative;
  text-align: center;
  border-radius: 20px;
  transition: 1s;

  &:hover {
    background: black;
  }

  .rank {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: $primary-color;
    border-radius: 10px 0 10px 0;
    z-index: 1;
    box-shadow: 0 0 0 white;
    transition: 0.3s;
  }

  .votes-count {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    gap: 10px;
    font-size: 1.5em;
  }

  iframe {
    width: 100%;
    height: 352px;
    border: none;
    border-radius: 15px;
  }

  &:hover {
    .rank {
      box-shadow: 0 0 2px white;
    }

    .votes-count {
      cursor: pointer;
      color: $primary-color;
    }
  }
}