@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Red+Hat+Display:wght@300;700&family=WindSong:wght@400;500&display=swap');

$primary-color: #FBF3DF;
$gray-color: #E2E2E2;
$main-title: 'WindSong';
$votes-title: 'Playfair Display';
$font-text: 'red hat display';
$desktop: 1000px;
$tablet: 768px;
$mobile: 500px;
